<!doctype html>
<html>
	<head>
		<title>Central Park Squirrel List</title>
	</head>
    <body>
	<div>
	    <ul>
	    {% for squirrel in sightings %}
	    <li>
		 <a href='{{ squirrel.unique_squirrel_id }}'>{{ squirrel.unique_squirrel_id }}</a>
	    </li>
	    {% endfor %}
            </ul>
	</div>

	<div>
	<a href='/sightings/add/' class=''>
        <button type="button" class='button'>Add new sighting</button>
        </a>
	<a href='/map/' class=''>
        <button type="button" class='button'>Go to Map</button>
        </a>

	</div>
    </body>
</html>

